In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#使用字典的方式来建立一个dataframe
df = pd.DataFrame({'S1':[90,100,95],'S2':[60,80,95]},index = ['Monday','Tuesday','Wednesday'])
df

            S1  S2
Monday      90  60
Tuesday    100  80
Wednesday   95  95

In [3]:
#使用多维数组的方式来建立一个dataframe
#可以发现是一行行填充的
df1 = pd.DataFrame([[1,2,3],[4,5,6]], index = ['I1','I2'],columns = ['c1','c2','c3'])
df1

    c1  c2  c3
I1   1   2   3
I2   4   5   6

In [4]:
#对df的值，index等的查询
print(df1.values)
print(df1.index)
print(df1.columns)

[[1 2 3]
 [4 5 6]]
Index(['I1', 'I2'], dtype='object')
Index(['c1', 'c2', 'c3'], dtype='object')

In [5]:
df1.T #类似于数组矩阵的转置操作

    I1  I2
c1   1   4
c2   2   5
c3   3   6

In [6]:
print(df1.size) #数组有多少元素
print(df1.shape) #df的形状

6
(2, 3)

In [7]:
df1.head(1) #取前n个row

    c1  c2  c3
I1   1   2   3

In [17]:
df1.tail(2) #df的尾部的倒数n个row

    c1  c2  c3
I1   1   2   3
I2  11  14  19

In [9]:
df1.describe() #对每一列进行数据描述

            c1       c2       c3
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000

In [10]:
df1.loc['I2'] #对某一个Index进行索引

c1    4
c2    5
c3    6
Name: I2, dtype: int64

In [11]:
df1.loc['I2'].loc['c2'] #进一步可以继续索引某一个列

5

In [12]:
df1['c2'].loc['I1'] #不用Loc直接中括号可以取某一个列

2

In [13]:
#dataframe可以直接进行加减运算
df1 + 10 * 14

     c1   c2   c3
I1  141  142  143
I2  144  145  146

In [14]:
#dataframe可以使用lambda匿名函数
df1.iloc[0] = df1.apply(lambda x:x.loc['I1']**2 + 10,axis =0 ) #df1把自己带进去 lambda x 去了,得到的结果可以对df的对应的某行或某列进行赋值
print(df1)

    c1  c2  c3
I1   1   2   3
I2  11  14  19

In [16]:
#assign方法对df的任意n个列进行操作和替换
print(df1.assign(c1 = lambda x:x['c1']**2 + 1,\
           c3 = lambda x:x['c3']*2+1,\
           c2 = lambda x:x['c2']*2+1)
            )

     c1  c2  c3
I1    2   5   7
I2  122  29  39