In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
L1 = np.random.randn(4).tolist()
L1

[-0.033034315887620236,
 -2.466224966397857,
 1.77736698394971,
 -0.3959513143174239]

In [4]:
s1 = pd.Series(L1,index = ['A','B','C','D'])
s1

A   -0.033034
B   -2.466225
C    1.777367
D   -0.395951
dtype: float64

In [5]:
s2 = s1.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

In [6]:
s2

A   -0.033034
B   -2.466225
C    1.777367
D   -0.395951
E    0.000000
F    0.000000
G    0.000000
dtype: float64

In [19]:
df3 = pd.DataFrame(np.random.randn(4,4),index = ['A','B','C','D'],columns = ['c1','c2','c3','c4'] )
df3

         c1        c2        c3        c4
A  1.091964 -0.223786  1.580946 -0.787301
B -0.413932 -1.482764 -2.477587 -0.022706
C  2.191772  0.680068  0.668107 -1.508280
D  1.781610 -1.302705  0.379854 -0.128762

In [8]:
#可以对index和columns进行重新分配
df3.reindex(index = ['A','C','D','E','B'])

         c1        c2        c3        c4
A  1.742412  1.553084  0.742162 -0.461984
C -0.189467 -0.377584  1.657809  2.375099
D -1.493519 -1.829830  0.873301  1.179113
E       NaN       NaN       NaN       NaN
B  0.065476 -1.233203 -0.445699  0.485587

In [18]:
df3.reindex(columns = ['c1','c3','c2','c2'])
#可以对某一列或者某一行进行重复列或行，如下面的c2!

         c1        c3        c2        c2
A  1.742412  0.742162  1.553084  1.553084
B  0.065476 -0.445699 -1.233203 -1.233203
C -0.189467  1.657809 -0.377584 -0.377584
D -1.493519  0.873301 -1.829830 -1.829830

In [15]:
a = np.array([0,0])

In [16]:
a[1]/a[0]

H:\ToolPrograms\Anaconda\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in long_scalars
  """Entry point for launching an IPython kernel.

nan