In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.arange(5), index = ['1','2','3','4','5'])
s1

1    0
2    1
3    2
4    3
5    4
dtype: int32

In [4]:
#slice 对Series进行数据切片,并不会产生复制的新的数据内存！！
s2 = s1[1:3]

In [7]:
s2

2    1
3    2
dtype: int32

In [8]:
s2[1]=100
s1

1      0
2      1
3    100
4      3
5      4
dtype: int32

In [9]:
#条件表达式做数据切片
s1[s1 > 3]

3    100
5      4
dtype: int32

In [10]:
s1[(s1<5)&(s1>2)]

4    3
5    4
dtype: int32

## data frame slicing

In [12]:
df3 = pd.DataFrame(np.random.randn(4,4),index = ['A','B','C','D'],columns = ['c1','c2','c3','c4'] )
df3

         c1        c2        c3        c4
A  0.626843 -0.194571 -1.036451  0.795810
B  1.042519  1.131392  0.009489  0.618576
C  1.470409 -0.210877 -0.721612  0.805306
D -0.903598 -1.696922 -2.000915 -1.332444

In [13]:
df3[['c1','c2','c3']]

         c1        c2        c3
A  0.626843 -0.194571 -1.036451
B  1.042519  1.131392  0.009489
C  1.470409 -0.210877 -0.721612
D -0.903598 -1.696922 -2.000915

In [14]:
df3[ df3['c2']> 0 ] #c2列大于0的的那些行

         c1        c2        c3        c4
B  1.042519  1.131392  0.009489  0.618576

In [16]:
df3 < 0 #返回真值表

      c1     c2     c3     c4
A  False   True   True  False
B  False  False  False  False
C  False   True   True  False
D   True   True   True   True

In [23]:
df4 = df3.copy()
df4

         c1        c2        c3        c4
A  0.626843 -0.194571 -1.036451  0.795810
B  1.042519  1.131392  0.009489  0.618576
C  1.470409 -0.210877 -0.721612  0.805306
D -0.903598 -1.696922 -2.000915 -1.332444

In [24]:
df4['c6'] = [1,2,3,4]
df4

         c1        c2        c3        c4  c6
A  0.626843 -0.194571 -1.036451  0.795810   1
B  1.042519  1.131392  0.009489  0.618576   2
C  1.470409 -0.210877 -0.721612  0.805306   3
D -0.903598 -1.696922 -2.000915 -1.332444   4

In [28]:
# isin 条件语句会判断一个list 是否包含另一个list
df4[df4['c6'].isin([3])]

         c1        c2        c3        c4  c6
C  1.470409 -0.210877 -0.721612  0.805306   3

In [29]:
#切片的标志是有个中括号[]，中括号里边可以是logic矩阵，
#也可以是行列的名字
df4[[False,True,True,True]]

         c1        c2        c3        c4  c6
B  1.042519  1.131392  0.009489  0.618576   2
C  1.470409 -0.210877 -0.721612  0.805306   3
D -0.903598 -1.696922 -2.000915 -1.332444   4