In [2]:
import numpy as np
import pandas as pd

## series的数据对齐

In [11]:
s1 = pd.Series(np.arange(4),index=['A','B','C','D'] )
s1

A    0
B    1
C    2
D    3
dtype: int32

In [12]:
s2 = pd.Series(np.arange(3),index=['A','B','C'] )
s2

A    0
B    1
C    2
dtype: int32

In [13]:
s1 + s2
#index 相同的Series元素之间互相相加,其他不相同的相加会产生无效值

A    0.0
B    2.0
C    4.0
D    NaN
dtype: float64

In [18]:
#如果想要在不同的index的相加的情况下，无效值用其他值代替。
s2.add(s1,fill_value = 0 ) # fill_value + existed_value才是填充后的值
#注意D的值！！

A    0.0
B    2.0
C    4.0
D    3.0
dtype: float64

## Dataframe的 alignment

In [20]:
df1 = pd.DataFrame(np.random.randn(2,3),index = ['r1','r2']
                  ,columns = ['c1','c2','c3'])
df1

          c1        c2        c3
r1 -0.978240 -0.848877  0.158988
r2  0.605546 -1.328321  0.381367

In [25]:
df2 = pd.DataFrame(np.random.randn(1,2),index = ['r1']
                  ,columns = ['c1','c3'])
df2

          c1        c3
r1 -2.661679  0.661278

In [27]:
df1 + df2 #类似series的相加，同行名和列名的元素可以互加

          c1  c2        c3
r1 -3.639919 NaN  0.820266
r2       NaN NaN       NaN

In [28]:
df1.add(df2,fill_value=0)

          c1        c2        c3
r1 -3.639919 -0.848877  0.820266
r2  0.605546 -1.328321  0.381367

In [31]:
#减法的道理也是一样的,
#但是a,b反序就会变成相反数
df1.subtract(df2,fill_value= 1)

          c1        c2        c3
r1  1.683439 -1.848877 -0.502291
r2 -0.394454 -2.328321 -0.618633

In [32]:
df2.subtract(df1,fill_value= 1)

          c1        c2        c3
r1 -1.683439  1.848877  0.502291
r2  0.394454  2.328321  0.618633